
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(2 2 51);
    color: whitesmoke;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
nav ul {
    list-style: none;
}
nav ul li{
font-size: 29px;
}
nav span{
    position: absolute;
    right: 1vw;
}



.gameContainer{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3, 10vw);
    position: relative;
    
}
.line{
    position: absolute;
    width: 0vw;
    height: 3px;
    background-color: rgb(68, 50, 169);
    transition: width 1s ease-in-out;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 6vw;
}
.box:hover{
    background-color: rgb(238, 231, 221);
    cursor: pointer;
}
.gameInfo{
    padding: 0 34px;
    /* border: 2px solid red; */
    /* margin: 34px; */
    font: 2vw;
}

.info {
    width: 7vw;
    margin:  auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px dotted black;
    padding: 20%;
    background-color: aquamarine;
    

}
#reset{
    display: block;
    margin: auto;
    background-color: antiquewhite;
    border-radius: 20px;
    width: 22vw;
    height: 12vh;
}
/* .info{
    display: inline;
} */
.imgBox img{
    margin: 15px;
    margin-top: 8vh;
    width: 0px;
    transition:width ease-in;
}




/* utility classes */
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.br-0{
    border-right: 0;
}
.bb-0{
    border-bottom: 0;
}




/* media query */
@media only screen and (max-width: 900px){ 
    .gameContainer{
        flex-wrap: wrap;
    }

    .gameInfo{
        font-size: 5vw;
        margin-top: 10vw;
    }
    .info{
        text-align: center;
        padding: 0;
        width: 100%;
    }
    nav{
        flex-wrap: wrap;
        height: 15vw;
    }
    nav span {
        margin: 0 2rem;
        position: static;
    }
    /* .gameInfo{
    margin: 10vw;
    } */


}